@using MyInvests.Mvc.Models.Relatorio

@model FundosModel

@if (Model != null)
{
    <table class="table table-sm" style="font-size: 75%">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Data Compra</th>
                <th class="text-right">Valor Compra</th>
                <th class="text-right">Valor Atual Bruto</th>
                <th class="text-right">IR</th>
                <th class="text-right">Valor Atual Liquido</th>
                <th class="text-right">Rendimento Bruto</th>
                <th class="text-right">Rendimento Liquido</th>
            </tr>
        </thead>
        <tbody>
            @foreach (FundosModel.InvestimentosModel investModel in Model.Investimentos)
            {
                <tr class="table-active">
                    <td title="@investModel.Nome">
                        @if (investModel.DataReferenciaPosicao < DateTime.Now.Date.AddDays(-1))
                        {
                            <span class="badge badge-warning" title="@investModel.DataReferenciaPosicao.ToShortDateString()">@investModel.DataReferenciaPosicao.ToString("dd/MM")</span>
                        }
                        else
                        {
                            <span class="badge badge-success" title="@investModel.DataReferenciaPosicao.ToShortDateString()">@investModel.DataReferenciaPosicao.ToString("dd/MM")</span>
                        }
                        @(investModel.Nome.PadRight(100).Substring(0,15))...
                    </td>
                    <td>@investModel.DataCompra.ToShortDateString() | @((DateTime.Now.Date - investModel.DataCompra).TotalDays.ToString("N0")) dias | @(((DateTime.Now.Date - investModel.DataCompra).TotalDays / 30).ToString("N1")) meses</td>
                    <td class="text-right">@investModel.ValorCompra.ToString("N2")</td>
                    <td class="text-right">@investModel.ValorAtualBruto.ToString("N2")</td>
                    <td class="text-right">@investModel.ValorIR.ToString("N2") (@investModel.TaxaIR.ToString("P2"))</td>
                    <td class="text-right">@investModel.ValorAtualLiquido.ToString("N2")</td>
                    <td class="text-right">@investModel.RendimentoBruto.ToString("N2") (@investModel.TaxaRendimentoBruto.ToString("P2")) </td>
                    <td class="text-right">@investModel.RendimentoLiquido.ToString("N2") (@investModel.TaxaRendimentoLiquido.ToString("P2"))</td>
                </tr>
                <tr>
                    <td colspan="8" >
                        <table class="table table-sm float-right" style="font-size: 90%; width: 60%">
                            <thead>
                                <tr>
                                    <th>Data Ref.</th>
                                    <th class="text-right">Cota</th>
                                    <th class="text-right">Total Bruto</th>
                                    <th class="text-right">Variação Bruto</th>
                                    <th class="text-right">Taxa Variação</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var pos in investModel.HistoricoPosicoes)
                                {
                                    <tr>
                                        <td>@pos.DataReferencia.ToShortDateString()</td>
                                        <td class="text-right">@pos.ValorCota.ToString("N5")</td>
                                        <td class="text-right">@pos.ValorTotalBruto.ToString("N2")</td>
                                        <td class="text-right">@pos.ValorVariacaoBruto.ToString("N2")</td>
                                        <td class="text-right">@pos.TaxaVariacao.ToString("P2")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}